*{
  padding:0;
  margin:0;
  box-sizing:border-box
}
.container{
  width:100vw;
  
  .swiper {
    width: 100%;
    height: fit-content;
    cursor:pointer;
    border-radius:3px;
  }
  .swiper-wrapper{
    margin:0;
    padding:0;
  height:fit-content;
  }
}
.swiper-slide{
  display:flex;
  align-items:center;
  justify-content: center;
  white-space: nowrap;
  position:relative;
  height:100%;
  margin:0;
  padding:0;  
  & p{
    position:absolute;
    display:flex;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:1.5rem;
    font-weight:bolder;
    color:white;
    margin:0;
    
  }
  
    & figure::before{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background-color:rgba(0, 0, 0, 0.6);
      z-index: 1;
    } 
    &.selected figure::before{
      background-color:blue;
    }
}
.Content{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;  
  position:relative;
  gap:1rem;  
  margin:0;
  padding:0;
  width:100%;
  height:300px;


  & .button{
    display:flex;
    gap:1rem;
  }
  & .title{
    // position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    position:absolute;
    width:100%;
    gap:1rem;
    padding:1rem;
    top:0;
    left:0;
    opacity:0;
    &.show{
      opacity:1;
    }
  }
  & p{
    font-size:23px;
    font-weight: 500;
    line-height: 1.25;
    margin: 0 auto;
    // max-width: 800px;
  }
  & h2{
    color: #191919;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: -1px;
    line-height: .9;
    margin: 0 0 15px;
  }
}
.grid-container{
  display:grid;  
  width:100%;
  // height:100vh;
  
  grid-template-columns:repeat(3,minmax(20%,auto));
  grid-template-rows:repeat(3,minmax(20%,auto));
  // grid-template-areas:
  // "test test test"
  // "test test test"
  // "test test test";
  // background-color: rgba(194, 194, 194, 0.842);
  overflow: hidden;
  grid-gap:1rem;
}
.grid-item{
  & figure{
    width:100%;
    height:80%;
    border-radius:1rem;
    
  }
  & figure img{
    width:100%;
    height:100%;
    // aspect-ratio:9/16;
  }
}
figure{
    width:350px;
    height:132px;
    // height:40%;
    background-image:cover;
    background-position:center;
    overflow:hidden;
    position:relative;
    margin:0;
    padding:0;
    z-index:-1;
  }
img{
  width:100%;
  height:100%;
  object-fit: center;  
}
.title{
  font-size:5rem;
  font-weight:900;
}
.sub{
  font-size:23px;
  font-weight:500;
}
.foot{
  display:flex;
  justify-content: space-between;
}
.form-control{
  width:40%;
  margin-left:2rem;
}